---
export async function getStaticPaths() {
  const response = await fetch(
    "https://eu-central-1-shared-euc1-02.cdn.hygraph.com/content/clhzrm4dw2zt701ut4w9p35b8/master",
    {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: JSON.stringify({
        query: `
        {
          products {
            title
    		slug
    		mainImage
          }
        }
      `,
      }),
    }
  );
  const products = await response.json();
  const paths = products.data.products.map((product) => ({
    params: {
      slug: product.slug,
    },
    props: {
      product,
    },
  }));

  return paths;
}

const product = Astro.props.product;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{product.title}</title>
  </head>
  <body>
    <main>
      <h1>{product.title}</h1>
      <img src={product.mainImage.url} alt={product.title} />
    </main>
  </body>
</html>

<style>
    
</style>